<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)] = "name" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter name">
    
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">The Loai</label>
    <select #selectedValue class="form-control" id="exampleFormControlSelect1">
      <option  *ngFor="let theloai of listTheLoai" [value]="theloai._id">{{theloai.tenTL}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Nhac</label>
    <input type="file" class="form-control-file" (change)="fileMP3Change($event)" name="nhac" id="exampleFormControlFile1" accept=".mp3">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Hinh</label>
    <input type="file" class="form-control-file" (change)="fileIMGChange($event)" name="hinh"  id="exampleFormControlFile1" accept=".png,.jpeg,.jpg">
  </div>
  <button type="button" class="btn btn-primary" (click) = "onUpdate(selectedValue.value)">OK</button>
</form>