<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Push Notification</button>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Device Id</th>
      <th>Device Name</th>
      <th>Xoa</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let device of listDevice; let i = index">
        <td><div class="checkbox">
            <input type="checkbox" value="{{device.registerId}}" [(ngModel)] = "checked" (click)="toggle(device.registerId)">
          </div></td>
        <td><img src="./assets/dienthoai.jpg" ></td>
        <td>{{device.deviceId}}</td>
        <td>{{device.deviceName}}</td>
        <td><img src="./assets/ic_delete_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onDelete(device.deviceId,i)"/></td>
      </tr>

  </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thong tin</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" [(ngModel)] = "title" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label for="content">Content</label>
                  <input type="text" class="form-control" id="content" [(ngModel)]="content" [ngModelOptions]="{standalone: true}">
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click) = "notifi()">Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>