<button type="button" class="btn btn-primary" (click) = "onThem()">
  Them
</button>
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>The Loai</th>
        <th>Yeu Thich</th>
        <th>Hinh</th>
        <th>Nhac</th>
        <th>Xoa</th>
        <th>Sua</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let nhac of listNhac">
          <td>{{nhac.name}}</td>
          <td>{{nhac.theloai}}</td>
          <td>{{nhac.yeuthich}}</td>
          <td><img src="http://localhost:3000/{{nhac.hinh}}"alt=""></td>
          <td><audio controls>
            <source src="http://localhost:3000/{{nhac.nhac}}" type="audio/mpeg">  
          </audio></td>
          <td><img src="./assets/ic_delete_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onDelete(nhac._id)"/></td>
          <td><img src="./assets/ic_update_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onUpdate(nhac._id)"></td>
        </tr>
  
    </tbody>
  </table>
</div>



