<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)] = "tenTheLoai" id="name" name="tenTheLoai" aria-describedby="emailHelp" placeholder="Enter Ten The Loai">
    
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlFile1">Hinh</label>
    <input type="file" class="form-control-file" (change)="fileIMGChange($event)" name="hinh"  id="exampleFormControlFile1" accept=".png,.jpeg,.jpg">
  </div>
  <button type="button" class="btn btn-primary" (click) = "onThem()">OK</button>
</form>
