
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" [(ngModel)] = 'username' name="username">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)] = 'name' name="name">
  </div>
  <div class="form-group">
    <label for="rule">Rule</label>
    <input type="text" class="form-control" id="rule" [(ngModel)] = 'rule' name="rule">
  </div>
  <button type="button" (click) = "updateUser()" class="btn btn-default">Update</button>
</form>