<!--The whole content below can be removed with the new code.-->
<app-navbar></app-navbar>
<div class="container">
        <flash-messages></flash-messages>      
        <router-outlet></router-outlet>
</div>