<button type="button" class="btn btn-primary" (click) = "onThem()">
  Them
</button>
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Ten The Loai</th>
        <th>Hinh The Loai</th>
        <th>Xoa</th>
        <th>Sua</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tl of listTheLoai">
          <td>{{tl.tenTL}}</td>
          <td><img src="http://localhost:3000/{{tl.hinhTL}}" alt=""></td>
          <td><img src="./assets/ic_delete_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onDelete(tl._id)"/></td>
          <td><img src="./assets/ic_update_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onUpdate(tl._id)"></td>
        </tr>
    </tbody>
  </table>
</div>



