<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Name</th>
      <th>Rule</th>
      <th>Xoa</th>
      <th>Sua</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listUser">
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.name}}</td>
      <td>{{user.rule}}</td>
      <td><img src="./assets/ic_delete_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onDelete(user._id)"/></td>
      <td><img src="./assets/ic_update_black_24dp_1x.png" alt="" style="cursor : pointer" (click)="onUpdate(user._id)"></td>
    </tr>

  </tbody>
</table>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      This is body of large modal
    </div>
  </div>
</div>