<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <h4 style="margin-top : 15px; margin-right : 10px;">MP3 Service</h4>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="['/home']">Home</a></li>
        <li *ngIf="!authService.isLogIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="authService.isLogIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="['/user']">User</a></li>
        <li *ngIf="authService.isLogIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact : true}"><a [routerLink] = "['/theloai']">The Loai</a></li>
        <li *ngIf="authService.isLogIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact : true}"><a [routerLink] = "['/nhac']">Nhac</a></li>
        <li *ngIf="authService.isLogIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact : true}"><a [routerLink] = "['/device']">Device</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.isLogIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}"><a>{{name}}</a></li>
        <li *ngIf="authService.isLogIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}"><a href="#" (click)="onLogOut()">Log Out</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>