<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="username" [(ngModel)]="username" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"  >Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)] = "password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" (click) = "Login()" class="btn btn-primary">Login</button>
  </form>